/* Cores da página */
:root {
    --gray1: #303133;
    --gray2: #1c1c1c;
    --light-gray1: #909090;
    --light-gray2: #2d2d2d;
    --red: #f03c3a;
}

/* Configuração básica */
*, *::before, *::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
input, button {
    outline: none;
}





body {
    background-color: var(--gray2);
    width: 100%; height: 100%;
    font-family: sans-serif;
}





/* Paineis com inputs */
div.pane {
    position: fixed;
    left: 0; top: 0;

    width: 100%; height: 100%;
    background-color: #000000e0;
    z-index: +1;

    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

div.pane div.content {
    background-color: var(--gray1);
    border-radius: 12px;
    padding: 1.5rem;
}

div.pane div.content div.footer {
    margin-top: 1.5rem;
    text-align: right;
}

div.pane div.content div.footer button {
    background: none;
    border: none;
    width: 70px;

    color: var(--red);
    font-weight: bolder;
}

/* Painel para adicionar/editar um item */
div#add_edit_pane div.content div.header div {
    border-bottom: 2px solid var(--red);
    padding: 10px 1rem;
}

div#add_edit_pane div.content div.header div input {
    background: none;
    border: none;

    width: 65vw;
    color: white;
}





/* Sessão das opções */
footer {
    position: fixed;

    display: flex;
    align-items: center;

    height: 100%;
    right: -100%; bottom: 0;

    transition: 500ms;
}


/* Botão para exibi-las */
input#check_opitions {
    display: none;
}

label#open_opitions {
    position: fixed;
    right: 0; bottom: 0;

    border-radius: 100px;
    border: none;

    background-color: var(--red);
    color: white;
    
    width: 3rem; height: 3rem;
    margin: .7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bolder;
    font-size: 1.7rem;

    /* transform: rotate( 45deg ); */
    transition: 500ms;
}


/* Lista das opçoes */
ul#opitions_section {
    list-style: none;
    padding: 1rem;
}

ul#opitions_section li {
    background-color: var(--light-gray1);
    color: var(--gray1);

    border-radius: 100px;
    padding: .4rem 1rem;

    margin: .6rem 0;
    text-align: center;
}
